nav:first-child {
	background-color: rgb(0, 147, 208); 
	color: white;
}
.navbar-default .navbar-header span {
	color: white;
}
.navbar-default .navbar-nav li a {
	color: white;
}
.navbar-default .navbar-nav .active > a {
	background-color: rgb(0, 70, 126); 
	color: white;
}
.navbar-default .navbar-nav .active > a:hover {
	background-color: rgb(0, 70, 126); 
	color: white;
}
.navbar-default .navbar-nav .active > a:focus {
	background-color: rgb(0, 70, 126); 
	color: white;
}